.nav-text,
.main-text,
.footer-text {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* 外部黑色陰影 */
    color: white; /* 內部顏色 */
}

.nav-text * {
    font-size: 15px;
}

.main-text * {
    font-size: 25px;
}

.footer-text * {
    font-size: 15px;
}

.menu img {
    width: 400px;
}

body {
    text-align: center;
    background-image: url("./img/3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}