.text-1 {
    font-size: 15px;

    /* 內部顏色 */
    color: white;

    /* 外部黑色陰影 */
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.text-2 {
    font-size: 25px;

    /* 內部顏色 */
    color: white;

    /* 外部黑色陰影 */
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.text-3 {
    font-size: 15px;

    /* 內部顏色 */
    color: white;

    /* 外部黑色陰影 */
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

body {
    text-align: center;
    background-image: "./img/1.jpg";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}