*{
    padding: 0;
    margin: 0;
}
header, section, footer {
    background-color: #d6ccc2;
}
.element {
    background-image: url(""C:\Users\panje\OneDrive\桌面\小島青鳥\圖片\14.jpg")
    background-size: ; /* 可選：使圖片覆蓋整個元素 */
    background-position: center; /* 可選：將圖片居中 */
}
.news {
    background-color: antiquewhite;
    color:white;
    height:85vh;
    background-image: url("https://github.com/ApanofPanpanTW/duck/blob/main/%E5%B0%8F%E5%B3%B6%E9%9D%92%E9%B3%A5/%E5%9C%96%E7%89%87/3.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: center;
}
